.loginLayout {
  display: grid;
  place-items: center;
  height: 100vh;
  background: #ff9966;
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
  background: linear-gradient(to right, #ff5e62, #ff9966);
}
